.root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20px;
}

body {
  background-color: #1c1c1c; /* Fondo gris oscuro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

footer{
  margin-top: 10px;
  color: white;
}

footer a{
  text-align: left;
  color: white;
  text-decoration: none;
}

footer img{
  width: 120px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 20px;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.letter {
  color: #ff6347; /* Letra roja */
}

.letter:nth-child(2) {
  color: #ffd700; /* Letra amarilla */
}

.letter:nth-child(3) {
  color: #32cd32; /* Letra verde */
}

.letter:nth-child(4) {
  color: #3498db; /* Letra azul */
}

.menu {
  margin: 140px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 370px;
  gap: 30px;
}

.actions{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.button {
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #3498db; /* Azul suave */
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2980b9; /* Cambio de color al pasar el mouse */
}

.information{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: white;
}

.countdown p{
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.information p{
  padding: 13px;
  background-color: #2d2d2d;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  border: 2px solid white;
}

.game-zone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 440px;
}

.grid-images-answer{
  display: flex;
  gap: 10px;
  border: 2px solid #484848;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 0;
}

.grid-images-selection{
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  border: 2px solid #484848;
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto 20px auto;
}

.item-background{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #484848;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  transition: margin 500ms, width 500ms, height 500ms;
}

.item-background:hover{
  width: 110px;
  height: 110px;
  margin: 0;
}

.item-image{
  border-radius: 10px;
  width: 70px;
  height: 70px;
  transition: width 500ms, height 500ms;
}

.item-image:hover{
  border-radius: 10px;
  width: 80px;
  height: 80px;
}

.remove-image{
  top: -7px;
  right: -7px;
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
}

.x-image{
  width: 20px;
}

.sequencer{
  border: 2px solid #484848;
  border-radius: 15px;
  padding: 5px;
  margin: 20px 0;
}

.sequencer img{
  background-color: #484848;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  margin: 5px;
  padding: 10px;
}

.verify{
  color: white;
}

.verify .message{
  font-size: 30px;
  font-weight: bold;
}

.message.lose{
  color: darkred;
}

.message.success{
  color: limegreen;
}
